*{
    margin: 0;
    padding: 0;
    box-sizing: 0;
}
/* MOBILE */
@media screen and (max-width: 740px) {
body{
    font-family: montserrat, sans-serif;
    font-weight: 100;
    font-style:normal;
}

/* nav */
.titulo-nav{
    color: white;
    font-size: 100%;
    font-weight: bold;
    text-transform:uppercase;
}

.menu-nav a{
    color: white;
}

/* index */
.imagenes-obras {
    height: 20rem;      
    object-fit: cover;
}
.home-texto{
    background-color: black;
    width: 100%;
    height: 20rem;
    display: flex;
    justify-content: center;
    align-items: center;
}
.texto{
    color: white;
    font-size: 100%;
    text-align: center;
    padding: 5% 5% 5% 5%;
}
.subtitulo-carrusel{
    font-size: 100% ;
    text-transform:uppercase;
    font-weight: bold;
    padding: 1rem 1rem 0rem 1rem;
}
/* bibliografia */

.grilla-bibliografia{
    display: grid;
    grid-template-areas:
    "imagen-bibliografia imagen-bibliografia"
    "imagen-bibliografia imagen-bibliografia"
    "parrafo parrafo"
    "h2 h2";
}
.imagen-bibliografia {
    grid-area: imagen-bibliografia;
    width: 100vw;
    height: auto;
}
.parrafo-bibliografia{
    grid-area: parrafo;
    font-size: 80%;
    padding: 2rem 2rem 0rem 2rem;
}
.titulo-conferencias{
    grid-area: h2;
    font-size: 100%;
    padding-left: 2rem;
    text-transform:uppercase;
}
.menu-conferencias {
    display: flex;
    flex-wrap: wrap;
    flex-direction: column;
    justify-content: flex-start;
    font-size: 80%;
    padding-left: 2rem;
}
.conferencias{
    color: black;
    padding-right: 2rem;
    text-decoration: none;
}
/* WORK */
.grilla-work{
    display: grid;
    grid-template-columns: 1fr;
}
.grilla-work img {
    width: 100%;
    height: 300px;
    padding: 1rem 1rem 1rem 1rem;
}

/* WORK-PAGINAS */
.titulo-pagina{
    font-size: 100%;
    font-weight: bold;
    text-transform:uppercase;
    margin: 0 5% 5% 5%;
}
.distribucion-texto{
    margin: 5% 5% 5% 5%;
}
.grilla{
    display: grid;
    grid-template-columns: 1fr;
}
.grilla img{
    width: 90%;
    height: auto;
    margin: 0% 5% 5% 5%;
}

.seccion-work{
    color: black;
    font-size: 100%;
    margin: 5% 5% 5% 5%;
    text-decoration: none;
}
.grilla-planos{
    display: grid;
    grid-template-columns: 1fr;
}
.grilla-planos img{
    width: 90%;
    height: auto;
    margin: 0% 5% 5% 5%;
}

/* CONTACT */

.titulo-pagina-contacto{
    font-size: 100%;
    font-weight: bold;
    text-transform:uppercase;
    margin: 0 5% 2% 5%;
}
.formulario-contacto{
    display: flex;
    flex-direction: column;
    justify-content:flex-start;
    padding-top: 15%;
}
.formulario{
    display: block;
    padding: 1% 5% 67% 5%;
}
.caja{
    width: 100%;
}

/* footer */
.footer{
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: flex-start;
    padding: 5% 5% 5% 5%;
}
.izquierda{
    color: white;
    font-size: 60%;
}
.derecha{
    color: white;
    font-size: 60%;
}
.centro{
    font-size: 60%;
    color: white;
    text-decoration: none;
}
}


/* DESKTOP */
@media screen and (min-width: 740px) {

body{
    font-family: montserrat, sans-serif;
    font-weight: 100;
    font-style:normal;
}

/* index */
.imagenes-obras {
    height: 60rem;      
    object-fit: cover;
}
.home-texto{
    color: white;
    font-size: 200%;
    background-color: black;
    width: 100%;
    height: 20rem;
    display: flex;
    justify-content: center;
    align-items: center;
}
.subtitulo-carrusel{
    font-size: 120% ;
    text-transform:uppercase;
    font-weight: bold;
    padding: 1rem 1rem 0rem 1rem;
}

/* bibliografia */
.grilla-bibliografia {
    display: grid;
    grid-template-areas:
        "imagen-bibliografia parrafo"
        "imagen-bibliografia parrafo"
        "h2 h2";
}
.imagen-bibliografia {
    grid-area: imagen-bibliografia;
    width: 50vw;
    
}
.parrafo-bibliografia{
    grid-area: parrafo;
    font-size: 34px;
    padding: 1rem 1rem 1rem 1rem;
}
.titulo-conferencias{
    grid-area: h2;
    text-transform:uppercase;
}
.menu-conferencias{
    display: grid;
    grid-column: 1fr 1fr;
}
.conferencias{
    color: black;
    font-size: 20px;
    padding-right: 2rem;
    text-decoration: none;
}
/* work */

.imagenes{
    width: 70%;
    height: 60%; 
}
.seccion-work{
    text-decoration: none;
    padding-left: 1%;
    color: black;
}
/* grilla-proyectos */
.grilla-work {
    display: grid;
    grid-template-areas:
        "img1 img2"
        "img3 img4"
        "img5 img6";
    padding-left: 2rem;  
    padding-right: 2rem;
    gap: 2rem;
}
.grilla-work img {
    width: 100%;
    aspect-ratio: 4 / 3;
    object-fit: cover;
    display: block; 
}
/* grilla dentro de los proyectos  */
.titulo-pagina{
    font-weight: bold;
    text-transform:uppercase;
    padding-left: 2rem;
}
.distribucion-texto {
    padding: 0rem 2rem 0rem 2rem;
}
.grilla {
    display: grid;
    grid-template-areas:
        "img1 img2"
        "img3 img4"
        "img5 img6"
        "img5 img6"
        "img7 img8"
        "img9 img10"
        "img11 img11";
    padding-left: 2rem;  
    padding-right: 2rem;
    gap: 2rem;
}
.grilla img {                    
    width: 100%;
    aspect-ratio: 4 / 3;
    object-fit: cover;
    display: block;
    border-radius: 2rem;
}
.grilla-planos{
    display: grid;
    grid-template-areas: 
        "img12 img13"
        "img14 img15"
        "img16 img17"
        "img18 img19"
        "img20 img20";
    padding-left: 2rem;  
    padding-right: 2rem;
    gap: 2rem;
}
.grilla-planos img {                    
    width: 100%;
    aspect-ratio: 4 / 3;
    object-fit: cover;
    display: block;
    border-radius: 2rem;
}
.img1 {
    grid-area: img1;
    padding-top: 2rem;
}
.img2 {
    grid-area: img2;
    padding-top: 2rem;
}
.img3 {
    grid-area: img3;
    padding-top: 2rem;
}
.img4 {
    grid-area: img4;
    padding-top: 2rem;
}
.img5 {
    grid-area: img5;
    padding-top: 2rem;
}
.img6 {
    grid-area: img6;
    padding-top: 2rem;
}
.img7 {
    grid-area: img7;
    padding-top: 2rem;
}
.img8 {
    grid-area: img8;
    padding-top: 2rem;
}
.img9 {
    grid-area: img9;
    padding-top: 2rem;
}
.img10 {
    grid-area: img10;
    padding-top: 2rem;
}
.img11 {
    grid-area: img11;
    padding-top: 2rem;
}
.img12 {
    grid-area: img12;
    padding-top: 2rem;
}
.img13 {
    grid-area: img13;
    padding-top: 2rem;
}
.img14 {
    grid-area: img14;
    padding-top: 2rem;
}
.img15 {
    grid-area: img15;
    padding-top: 2rem;
}
.img16 {
    grid-area: img16;
    padding-top: 2rem;
}
.img17 {
    grid-area: img17;
    padding-top: 2rem;
}
.img18 {
    grid-area: img18;
    padding-top: 2rem;
}
.img19 {
    grid-area: img19;
    padding-top: 2rem;
}
.img20 {
    grid-area: img20;
    padding-top: 2rem;
}


/* contact */
.formulario{
    padding: 2rem 2rem 2rem 2rem;
    display: flex;
    flex-direction: column;
    justify-content:flex-start;
    text-transform: uppercase;
    font-weight: bold;
    padding-bottom: 15%;
}
.formulario-nombre{
    padding-top: 2rem;
}
.formulario-email{
    padding-top: 2rem;
}
.formulario-mensaje{
    padding-top: 2rem;
}
/* footer */
.footer{
    background-color: black;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
}
.izquierda{
    color: white;
    padding: 2rem 2rem 2rem 2rem;
}
.derecha{
    color: white;
    padding: 2rem 2rem 2rem 2rem;
}
.centro{
    text-decoration: none;
    color: white;
    padding: 2rem 2rem 2rem 2rem;
}
}
