@use "general" as*;

/* DESKTOP */
@media screen and (min-width: 740px) {

/* MIXIN-MOBILE */
    @mixin flex($direction, $justify, $align) {
        display: flex;
        flex-direction: $direction;
        justify-content: $justify;
        align-items: $align;
    }
    @mixin tamaño($width, $height) {
        width: $width;
        height: $height;
    }
    @mixin padding($top, $right, $bottom, $left) {
        padding: $top $right $bottom $left;
    }
    @mixin margin($top, $right, $bottom, $left) {
        margin: $top $right $bottom $left;
    }
/* index */
    .imagenes-obras {
    @include tamaño(100%, 100vh);
    object-fit: cover;
    }
    .home-texto{
    color: $blanco;
    font-size: 200%;
    background-color: $negro;
    @include tamaño(100%, 20rem);
    @include flex(row, center, center);
    }
    .subtitulo-carrusel{
    font-size: 120% ;
    text-transform:uppercase;
    font-weight: bold;
    @include padding(1rem, 1rem, 0rem, 1rem);
    }

/* bibliografia */
    .grilla-bibliografia {
    display: grid;
    grid-template-areas:
        "imagen-bibliografia parrafo-1"
        "imagen-bibliografia parrafo-2"
        "imagen-bibliografia parrafo-3"
        "parrafo-4 parrafo-5"
        "h2 h2";
        .imagen-bibliografia {
        grid-area: imagen-bibliografia;
        width: 50vw;
        }
        .parrafo-bibliografia-1{
        grid-area: parrafo-1;
        font-size: 20px;
        @include padding(0rem, 1rem, 0rem, 1rem);
        }
        .parrafo-bibliografia-2{
        grid-area: parrafo-2;
        @extend .parrafo-bibliografia-1;
        }
        .parrafo-bibliografia-3{
        grid-area: parrafo-3;
        @extend .parrafo-bibliografia-1;
        }
        .parrafo-bibliografia-4{
        grid-area: parrafo-4;
        @extend .parrafo-bibliografia-1;
        }
        .parrafo-bibliografia-5{
        grid-area: parrafo-5;
        @extend .parrafo-bibliografia-1;
        }
        .titulo-conferencias{
        padding-left: 2rem;
        grid-area: h2;
        text-transform:uppercase;
        font-size: 30px;
        }
        .menu-conferencias{
        display: grid;
        grid-column: 1fr 1fr;
            .conferencias{
            color: $negro;
            font-size: 20px;
            padding-right: 2rem;
            text-decoration: none;
            }
        }
    }

/* WORK */

/* grilla-proyectos */
    .grilla-work {
    display: grid;
    grid-template-areas:
        "img1 img2"
        "img3 img4"
        "img5 img6";
    padding-left: 2rem;  
    padding-right: 2rem;
    gap: 2rem;
        .img1 {
        grid-area: img1;
        margin-top: 2rem;
        }
        .img2 {
        grid-area: img2;
        @extend .img1;
        }
        .img3 {
        grid-area: img3;
        }
        .img4 {
        grid-area: img4;
        }
        .img5 {
        grid-area: img5;
        margin-bottom: 2rem;
        }
        .img6 {
        grid-area: img6;
        @extend .img5;
        }
        img {
        width: 100%;
        aspect-ratio: 4 / 3;
        object-fit: cover;
        display: block;
        border-radius: 2rem;
        }
    }

/* grilla dentro de los proyectos  */
    .titulo-pagina{
    font-weight: bold;
    text-transform:uppercase;
    padding-left: 2rem;
    }
    .seccion-work{
    text-decoration: none;
    padding-left: 1%;
    color: $negro;
    }
    .distribucion-texto {
    @include padding(0rem,2rem ,0rem ,2rem);
    }
    .grilla {
    display: grid;
    grid-template-columns: 1fr 1fr;
    grid-template-areas:
        "img1 img2"
        "img3 img4"
        "img5 img6"
        "img7 img8"
        "img9 img10"
        "img11 img11";
        @include padding(0rem, 2rem, 0rem, 2rem);
        gap: 2rem;
        overflow: hidden;
    }
    .img1 {
    grid-area: img1;
        }
    .img2 {
    grid-area: img2;
        }
    .img3 {
    grid-area: img3;
    }
    .img4 {
    grid-area: img4;
        }
    .img5 {
    grid-area: img5;
        }
    .img6 {
    grid-area: img6;
        }
    .img7 {
    grid-area: img7;
        }
    .img8 {
    grid-area: img8;
        }
    .img9 {
    grid-area: img9;
    }
    .img10 {
    grid-area: img10;
    }
    .img11 {
    grid-area: img11;
    margin-bottom: 2rem;
    }
    img {                    
    width: 100%;
    aspect-ratio: 4 / 3;
    object-fit: cover;
    display: block;
    border-radius: 2rem;
        &:hover {
        transform: scale(1.2);
        transition: transform 0.5s ease;
        }
    }
    .grilla-planos{
    display: grid;
    grid-template-columns: 1fr 1fr;
    grid-template-areas: 
        "img12 img13"
        "img14 img15"
        "img16 img17"
        "img18 img19"
        "img20 img20";
        @include padding(0rem, 2rem, 0rem, 2rem);
        gap: 2rem;
        overflow: hidden;
        .img12 {
        grid-area: img12;
        }
        .img13 {
        grid-area: img13;
        }
        .img14 {
        grid-area: img14;
        }
        .img15{
        grid-area: img15;
        }
        .img16{
        grid-area: img16;
        }
        .img17{
        grid-area: img17;
        }
        .img18{
        grid-area: img18;
        }
        .img19{
        grid-area: img19;
        }
        .img20{
        grid-area:img20;
        }
        img {                    
        width: 100%;
        aspect-ratio: 4 / 3;
        object-fit: cover;
        display: block;
        border-radius: 2rem;
            &:hover {
            transform: scale(1.2);
            transition: transform 0.5s ease;
            }
        }
    }

    /* contact */
    .formulario{
    padding: 2rem 2rem 2rem 2rem;
    @include flex(column, flex-start, stretch);
    text-transform: uppercase;
    font-weight: bold;
    padding-bottom: 15%;
        .formulario-nombre{
        padding-top: 2rem;
        }
        .formulario-email{
        @extend .formulario-nombre;
        }
        .formulario-mensaje{
        @extend .formulario-nombre;
        }
    }

    /* footer */
    .footer{
    height: 100px;
    background-color:$negro;
    @include flex(row, space-between, center);
        .izquierda{
        font-size: 100%;
        color: $blanco;
        @include padding(2rem, 2rem, 2rem, 2rem);
        }
        .derecha{
        color: $blanco;
        @extend .izquierda;
        }
        .centro{
        color: $blanco;
        text-decoration: none;
        @extend .izquierda;
        }
    }
}