@use "general" as*;
@use "mixins" as*;

@media screen and (max-width: 480px) {

/* index */
    .imagenes-obras {
        height: 20rem;      
        object-fit: cover;
    }
    .home-texto{
        background-color: $negro;
        @include tamaño(100%, auto);
        @include flex(row, center, center);
        .texto{
            color: $blanco;
            font-size: 100%;
            text-align: center;
            @include padding(20%,5%,20%,5%);
        }
    }
    .titulo-index{
        font-size: 100% ;
        text-transform:uppercase;
        font-weight: bold;
        @include padding(1rem, 1rem, 0rem, 1rem);
    }

    /* bibliografia */

    .grilla-bibliografia{
        display: grid;
        grid-template-columns: 1fr;
        .imagen-bibliografia {
            @include tamaño(100vw,auto);
        }
        p{
            font-size: 100%;
            @include padding(2rem, 2rem, 0rem, 2rem);
        }
        .titulo-conferencias{
            font-size: 100%;
            padding-left: 2rem;
            text-transform:uppercase;
        }
        .menu-conferencias {
            display: flex;
            flex-wrap: wrap;
            flex-direction: column;
            justify-content: flex-start;
            font-size: 80%;
            padding-left: 2rem;
            .conferencias{
                font-size: 100%;
                color: black;
                padding-right: 2rem;
                text-decoration: none;
            }
        }
    }

/* WORK */
    .titulo-work{
    font-size: 100% ;
    text-transform:uppercase;
    font-weight: bold;
    @include padding(1rem, 1rem, 0rem, 1rem);
    }
    .grilla-work{
        display: grid;
        grid-template-columns: 1fr;
        img {
            @include tamaño(100%, 300px);
            @include padding(1rem, 1rem, 1rem, 1rem);
        }
    }
/* WORK-PAGINAS */
    .titulo-pagina{
        font-size: 100%;
        font-weight: bold;
        text-transform:uppercase;
        @include margin(0,5%,5%,5%);
    }
    .seccion-work{
        color: $negro;
        font-size: 100%;
        text-decoration: none;
        @include margin(5%,5%,5%,5%);
    }
    .distribucion-texto{
        @include margin(5%,5%,5%,5%);
    }
    .grilla{
        display: grid;
        grid-template-columns: 1fr;
        img{
        @include tamaño(90%, auto);
        @include margin(0%,5%,5%,5%);
        }
    }
    .grilla-planos{
        display: grid;
        grid-template-columns: 1fr;
        img{
        @include tamaño(90%, auto);
        @include margin(0%,5%,5%,5%);
        }
    }


/* contacto */
    .titulo-contacto{
        font-size: 100% ;
        font-weight: bold;
        text-transform:uppercase;
        @include margin(0,5%,2%,5%);
    }
    .formulario{
        display: block;
        @include padding(2rem,5%,5rem,5%);
        .caja{
            width: 100%;
        }
    }

/* footer */
    .footer{
        @include flex(row,space-between,flex-start);
        @include padding(5%,5%,5%,5%);
        background-color: $negro;
        .izquierda{
            color: $blanco;
            font-size: 60%;
        }
        .derecha{
            color: $blanco;
            font-size: 60%;
        }
        .centro{
            font-size: 60%;
            color: $blanco;
            text-decoration: none;
        }
    }
}